body{
  background-color: #fff;
}
ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

.content{
     text-align: center;
     margin-top: 7rem;

}

.contente{
    text-align: center;
}

.img-logo{
     border-radius: 200px;
     height: 10rem;
     box-shadow:  0.5px 1px 1px 1px  #062f77;
}

.inputdiv{
     padding: 10px;
}
ion-input + ion-button{


}
ion-button{
   padding: 15px;

}

.inputClass {
  border-style: solid;
  border-color: #062f77;
  border-width: medium;
  border-radius: 3px;
}
