<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="tab-bar">
      <div class="gauche">
        <span class="w">Bienvenue</span>
        <span class="username">Ayanleh</span>
      </div>
      <div class="droit">

            <a [routerLink]="['/login']">
              <ion-icon name="cog-outline" class="cog-outline"></ion-icon>
            </a>

      </div>
  </div>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col class="card">
            <a class="text-a" [routerLink]="['/customer']">
              <ion-icon name="person-add-outline"></ion-icon>
            </a>
        </ion-col>
        <ion-col class="card">
              <a class="text-a">
                <ion-icon name="reader-outline"></ion-icon>
              </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
